body{background:linear-gradient(rgba(0,0,0,0.53),rgba(0,0,0,0.541)), url(assets/images/Hea.jpeg) right center/cover fixed;}
*{
    color:white;
    animation: appear 2s linear 1;
}
@keyframes appear{
    from{visibility: collapse;opacity:0}
    to{visibility:visible;opacity:1}
}
#primary-nav,#impact,.Card,.newspost{
    box-shadow:inset 0px 0px 10px 0px white, 4px 4px 8px 0px darkcyan;
    background:linear-gradient(rgba(0,50,50,0.7525),rgba(0,250,250,0.525)), url(assets/images/blueBg1.jpg) center/cover;
    width:100%;
    margin:50PX auto 50px auto;
    padding:10px;
}
#address{
    color:grey;
}
#primary-nav{
    margin-bottom:0px;
    margin-top: 0PX;
}
#primary-nav a{
    font-family: Fruktur;
    color:white;
    text-shadow: 1px 1px 4px darkcyan;
}
#logo{
    height:50px;
}

aside{
    position:fixed;
    top:85%;
    left:15px;
    width:90%;
}
aside .bttn{
    height:40px;
    border-radius:15px;
    width:10%;
    margin-left:8%;
    box-shadow: 0px 0px 10px 0px white; 
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(assets/images/blueBg1.jpg) center/cover;
    font-weight:bolder;
}
.Card{
    width:90%;
    padding:10px;
    font-size:1.4rem;
    border-radius:2x;
}
.see{
    font:normal bold 2rem Roboto;
    text-transform: uppercase;
    width:90%;
    margin:10px;
    box-shadow:0px 0px 10px 0px white;
}
#map-container{
    margin:80px 100px
}
.heading{
    font:italic bold 4rem Tangerine;
}
.bttn{
    box-shadow:inset 0px 0px 10px 0px white, 2px 2px 10px 0px darkcyan;
    background-color:transparent;
    background-image:linear-gradient(rgba(250,250,250,0.5),rgba(0,0,0,0.5));
    padding:10px;
    border-radius:20px;
    color:white;
    width:40%;
    border:0px;
    margin:10px;
    text-shadow:0px 2px 9px darkcyan;
    font-size:1rem; 
    text-shadow:4px 4px 6px darkcyan;
}
.bttn:focus{
    border:0px;
    animation: smaller 0.5s linear 1;
}
@keyframes smaller{
    to{
    transform: scale(0.8);
}
}
h1{
    color:white;
    text-shadow:4px 4px 6px darkcyan;
}

.news,.gallery,.image,.footer{
    display:flex;
    justify-content: space-around;
    width:100%;
    height:500px;
    align-items: center;
}
.newspost{
    width:30%;
    height:400px;
}
.image i{
    font-size:100px;
}
.image{
    background-image:linear-gradient(rgba(0,105,105,0.29),rgba(0,155,155,0.71));
    width:80%;
    height:500px;
    margin:2px;
}
table{font-weight: 400;margin:auto;}
a{font-size:20px;} 
.footer{
    align-items:center;
    height:210px;
    color:white;
    background:rgb(0,50,50);
}
.footer:nth-child(1){
    margin-left: 30px;
}    .
.footer-widget{
    height:30px;
    width:100%;
    background:rgb(0,0,0);
}   
.fa{font-size: 20px;}
#social-icons{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
#social-icons li{
    display: inline-block;
    padding-left: 5px;
}
#social-icons li a{
    color:white;
    font-size: 23px;
}
.about-content{
    font-size:35px;
    font-weight:100;
}
#about-us{
    height: auto;
    position: relative;
}
#title{
    font-size:38px;
    font-weight:900;
    text-align: center;
}
@media(min-width:600px){
    .tag-line,.title{font-size:10rem;}
}
@media(max-width:576px){
.container {
    max-width: 540px;
  }
#tagline{
    font-size:1.2rem;
    background-size:cover;
    height:340px;
}
#tagline .container {
    border:10px double white;
    margin:10px auto 10px;
    height:350px;
}
 #impact{
    font-size:1.2rem;
}
.see{
    font-size:1.2rem
}
#map-container{
    margin:8px;}
#map-container iframe{
    width:98%;
    height:400px;
}
}
@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
.container {
    max-width: 720px; background-size:cover;
    height:350px;
}
#tagline{font-size:1.5rem;}
}

@media (min-width: 992px) {
.container {
    max-width: 960px;
  }
#tagline{font-size:1.8rem; background-size:cover;
        height:400px;
}
a:hover,.bttn:hover{
    cursor: pointer; 
    animation: enlarge 0.5s linear 1;
}
@keyframes enlarge{
    to{transform:scale(1.5);}
}
}

@media (min-width: 1200px) {
a:hover,.bttn:hover{
    cursor: pointer; 
    animation: enlarge 0.5s linear 1;
}
@keyframes enlarge{
    to{transform:scale(1.5);}
}
.container {
    max-width: 1140px;
}
#tagline{
    font-size:2rem; 
    background-size:cover;
    height:540px;
}
#tagline .container {
    border:10px double white;
    margin:10px auto 10px;
    height:550px;
}
#intro{
    padding-left:20%;
    font-size:48px;
    font-weight:900;
}
#intro1{
    padding:20px;
    font-size:38px;
    font-weight:100;
}
}

