@import url('https://fonts.googleapis.com/css?family=Poppins: wght@200; 400; 700&family=Kanit&display=swap');
:root {
	--color5: #050a30;
	--color6: #e5eaf0;
	--color4: #ff66c4;
	--color3: #cb6ce6;
	--color2: #fdcf1c;
	--color1: #14c4ed;
	--order: 0;
}
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

section {
	display: grid;
	place-items: center;
	align-content: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.page {
	min-height: 100vh;
}

.mw-80 {
	max-width: 80%;
}
.p05rem {
	padding: 0.5rem;
}
.xxxl-text {
	font-family: 'Kanit', Courier, monospace;
	font-size: 4rem;
	margin: 0;
}
.xxl-text {
	font-family: 'Kanit', Courier, monospace;
	font-size: 3rem;
	margin: 0;
}
.xl-text {
	font-family: 'Kanit', Courier, monospace;
	font-size: 2rem;
}

.centre-text {
	text-align: center;
}

.br1rem {
	border-radius: 1rem;
}
.w80 {
	min-width: 80%;
}
.br3rem {
	border-radius: 3rem;
}
.p2rem {
	padding: 2rem;
}
.p1rem {
	padding: 1rem;
}
.mv1rem {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.m2rem {
	margin: 2rem;
}
.line {
	content: '';
	height: 0.5rem;
	margin-bottom: 1rem;
}
.underline {
	text-decoration: underline;
	text-decoration-style: wavy;
}
/* profile section */
.image-box {
	display: flex;
	justify-content: center;
}
.wmn-200-wmx-400 {
	width: clamp(200px, 80%, 400px);
}
.br50per {
	border-radius: 50%;
}
.shake {
	display: inline-block;
	animation: shake 1s linear 0s infinite alternate-reverse;
	transform-origin: bottom;
}

/* Animation */
@keyframes shake {
	50% {
		transform: rotate(30deg);
	}
}

/*  Default unordered list style none */
ul {
	list-style-type: none;
}
/*  Default ancor style none */
a {
	text-decoration: none;
}

/* For show hide animation */
.hidden {
	opacity: 0;
	filter: blur (5px);
	transform: translateX(-100%);
	transition: all 1s;
}
.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.show-exit {
	opacity: 0;
	filter: blur(0);
	transform: translateX(-100%);
}
.popup {
	animation: popup 1s linear 0s infinite alternate-reverse;
}

@keyframes popup {
	0% {
		transform: rotate(30deg);
		transform: rotate(30deg);
		transform: rotate(30deg);
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(30deg);
		transform: rotate(30deg);
		transform: rotate(30deg);
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(30deg);
		transform: rotate(30deg);
		transform: rotate(30deg);
		transform: rotate(30deg);
		transform: rotate(30deg);
	}
}
.row-animate {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-content: center;
	align-items: center;
	justify-content: space-around;
}

.row-animate > {
	box-sizing: border-box;
	min-width: 300px;
}
.row-animate :nth-child(n) {
	transition-delay: calc(var(--order) * 250ms);
}

.content-list {
	border-radius: 2%;
	text-align: center;
	margin: 0.5rem;
	padding: 0.5rem;
	width: 80vw;
	height: clamp(80vh, auto, max-content);
}
.row-list {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.row-list :nth-child(n) {
	flex: 1;
	margin: 0.5rem;
	width: clamp(20%, auto, 100%);
}
.flexbox {
	display: flex;
	justify-content: space-around;
}
.flex-1 {
	flex: 1;
}

/* Color scheme */
body {
	color: var(--color6);
}
.bg-color1 {
	background-color: var(--color1);
}
.bg-color5 {
	background-color: var(--color5);
}
.bg-color2 {
	background-color: var(--color2);
}
.bg-color6 {
	background-color: var(--color6);
}
.bg-color7 {
	background-color: var(--color3);
	color: var(--color5);
}
.bg-color8 {
	background-color: var(--color4);
	color: var(--color5);
}
.bg-color15 {
	background: linear-gradient(7deg, var(--color5) 50%, var(--color1) 50%);
}
.u-color3 {
	text-decoration: underline;
	text-decoration-color: var(--color3);
}
.dark-text {
	color: var(--color5);
}
.light-text {
	color: var(--color5);
}

/* .color-list li:nth-child(2n + 1) {
	color: var(--color3);
}
.color-list li:nth-child(2n) {
	color: var(--color4);
} */
.skill-image{
	max-height:100px;
	max-width: 50vw;
}
#social-links{
	padding: 2rem 0rem;
}
