* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  cursor: context-menu;
}

body {
  font-family: "Roboto", Courier, monospace;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}
body *::selection {
  border-radius: 0.3rem;
}
body #connect,
body #profile,
body #work-and-projects,
body #skill-and-services {
  min-height: 80vh;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
body header {
  border-bottom: 2px solid;
  padding: 0px;
  width: 100%;
}
body header .brand {
  display: none;
}
body header .brand .logo {
  width: 3rem;
  position: fixed;
  top: 0.3rem;
  left: 1rem;
  border-radius: 50%;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
body header nav .brand {
  flex: 1;
}
body header nav ul {
  flex: 1;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
body header nav ul li a {
  padding: 0.3rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Playfair Display";
  text-decoration: none;
}
body #profile {
  font-family: "Playfair Display", Courier, monospace;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5rem;
}
body #profile .description {
  flex: 2;
  font-size: 2rem;
  padding: 3rem;
}
body #profile .image-box {
  flex: 1;
}
body #profile .image-box .pic {
  width: 80%;
  border-radius: 50%;
}
body #profile .shake {
  display: inline-block;
  animation: shake 1s linear 0s infinite alternate-reverse;
  transform-origin: bottom;
}
body #skill-and-services ul.services {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
}
body #skill-and-services ul.services li.service {
  min-width: 45%;
  max-width: 500px;
  margin: 1rem 0rem;
}
body #skill-and-services ul.services li.service p.service-title {
  font-family: "Roboto", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  font-size: 1.5rem;
  font-weight: 900;
}
body #skill-and-services ul.services li.service:nth-child(2n+1) {
  align-self: flex-end;
}
body #skill-and-services ul.services ul.skills {
  list-style: none;
  justify-content: space-around;
  display: flex;
}
body #skill-and-services ul.services ul.description {
  padding: 1rem;
}
body #skill-and-services ul.skills {
  grid-template-columns: auto auto auto auto auto auto;
}
body #work-and-projects .projects {
  display: flex;
}
body #work-and-projects .project {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  font-family: "Roboto", Courier, monospace;
  letter-spacing: 1px;
  font-weight: 100;
}
body #work-and-projects .project .web-link {
  text-decoration: none;
}
body #work-and-projects .project .subtitle {
  text-transform: uppercase;
  letter-spacing: 1.15px;
  font-size: 1.7rem;
  font-weight: 900;
}
body #work-and-projects .project .description {
  font-weight: 800;
}
body #connect {
  flex-direction: row;
}
body #connect #footer-left-block {
  padding: 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body #connect #footer-left-block :nth-child(n) {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex: 1;
}
body #connect #footer-right-block {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex: 1;
}
body #connect .links #social-media {
  list-style-type: none;
}
body #connect .links #social-media li {
  display: inline;
}
body #connect .phone {
  font-size: 2px;
  transform: rotate(-20deg) translate(14px, 10px);
  transform-origin: center;
}
body #connect .phone-base {
  stroke-width: 3;
}
body #connect .star-holder:nth-child(3n+2) .star {
  animation: blinking 2s ease-in 1.5s infinite alternate-reverse;
}
body #connect .star-holder:nth-child(3n+1) .star {
  animation: blinking 2s ease-in 1s infinite alternate-reverse;
}
body #connect .star-holder:nth-child(3n) .star {
  animation: blinking 2s ease-in 0s infinite alternate-reverse;
}
body #connect .left-mid {
  transform: translate(-15px, 20px);
}
body #connect .right-top {
  transform: translateX(40px);
}
body #connect .right-bottom {
  transform: translateX(40px) translateY(50px);
}
body #connect .messgae-text {
  font-size: 5px;
}
body #connect .footer-title {
  font-family: "Kanit", Courier, monospace;
  font-size: 3.5rem;
  font-weight: 1000;
}
body #connect .my-links {
  font-family: "Kanit", Courier, monospace;
  font-size: 1.5rem;
}
body #connect .footer-description {
  font-family: "Kanit", Courier, monospace;
  font-size: 2rem;
  font-weight: 200;
}
body .title-box {
  margin-left: 10%;
}
body .title {
  font-size: 3.5rem;
  text-decoration: underline;
  font-weight: 100;
  text-decoration-color: #cb6ce6;
}
body .box {
  padding: 2rem 3rem;
  margin: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 2px;
}
@keyframes shake {
  50% {
    transform: rotate(30deg);
  }
}
@keyframes blinking {
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  body .project,
  body .box {
    padding: 20px !important;
    margin: 20px !important;
    align-self: center !important;
    border-radius: 20px !important;
  }
  body .projects,
  body .services,
  body #connect,
  body #profile,
  body #work-and-projects,
  body #skill-and-services {
    padding: 30px 0px !important;
    flex-direction: column !important;
    min-height: max-content !important;
  }
  body header {
    position: relative;
  }
  body header nav ul {
    display: none;
  }
  body header nav .brand {
    display: block;
  }
  body header.hidden {
    position: relative;
  }
  body header.hidden nav ul {
    display: none;
  }
  body header.visible {
    position: fixed;
  }
  body header.visible nav ul.visible {
    display: block;
  }
  body #profile .description {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }
  body #profile .image-box {
    display: contents;
  }
  body #profile .image-box img {
    align-self: center;
    max-width: 50%;
  }
}

body.light {
  background-color: #fefeff;
  color: #050a30;
}
body.light *::selection {
  color: #050a30;
  background-color: #fdcf1c;
}
body.light header {
  background-color: #e5eaf0;
  border-bottom-color: #14c4ed;
}
body.light nav ul li a {
  color: #cb6ce6;
}
body.light nav ul li a:hover {
  color: #fdcf1c;
}
body.light #skill-and-services ul.services {
  background-color: blackOpaque;
}
body.light #skill-and-services ul.services li.service p.service-title {
  color: #14c4ed;
}
body.light #skill-and-services ul.services ul.skills {
  color: #050a30;
}
body.light #skill-and-services ul.services ul.description li:nth-child(2n+1) {
  color: #cb6ce6;
}
body.light #skill-and-services ul.services ul.description li:nth-child(2n) {
  color: #ff66c4;
}
body.light #work-and-projects .project {
  color: #14c4ed;
}
body.light #work-and-projects .project .subtitle {
  color: #cb6ce6;
}
body.light #work-and-projects .project .description {
  color: #ff66c4;
}
body.light #connect {
  background-color: #14c4ed;
  color: #050a30;
}
body.light #connect .phone-base {
  fill: #e5eaf0;
  stroke: #050a30;
  stroke-width: 3;
}
body.light #connect .phone-notch {
  fill: #050a30;
}
body.light #connect .phone-button {
  fill: #050a30;
}
body.light #connect .star {
  fill: #fdcf1c;
}
body.light #connect .message-base {
  fill: #ff66c4;
}
body.light #connect .footer-title {
  fill: #050a30;
}
body.light #connect .my-links {
  fill: #e5eaf0;
}
body.light #connect .footer-description {
  fill: #050a30;
}
body.light .title {
  color: #fdcf1c;
}
body.light .box {
  background-color: #e5eaf0;
  box-shadow: 0px 0px 2px #000;
}

body.dark {
  background-color: #050a30;
  color: #fefeff;
}
body.dark *::selection {
  color: #050a30;
  background-color: #fdcf1c;
}
body.dark header {
  background-color: #050a30;
  border-bottom-color: #14c4ed;
}
body.dark nav ul li a {
  color: #cb6ce6;
}
body.dark nav ul li a:hover {
  color: #fdcf1c;
}
body.dark #skill-and-services ul.services li.service {
  background-color: blackOpaque;
}
body.dark #skill-and-services ul.services li.service p.service-title {
  color: #14c4ed;
}
body.dark #skill-and-services ul.services ul.skills {
  color: #e5eaf0;
}
body.dark #skill-and-services ul.services ul.description li:nth-child(2n+1) {
  color: #cb6ce6;
}
body.dark #skill-and-services ul.services ul.description li:nth-child(2n) {
  color: #ff66c4;
}
body.dark #work-and-projects .project {
  color: #14c4ed;
}
body.dark #work-and-projects .project .subtitle {
  color: #cb6ce6;
}
body.dark #work-and-projects .project .description {
  color: #ff66c4;
}
body.dark #connect {
  background-color: #14c4ed;
  color: #050a30;
}
body.dark #connect .phone-base {
  fill: #14c4ed;
  stroke: #050a30;
  stroke-width: 3;
}
body.dark #connect .phone-notch {
  fill: #050a30;
}
body.dark #connect .phone-button {
  fill: #050a30;
}
body.dark #connect .star {
  fill: #fdcf1c;
}
body.dark #connect .message-base {
  fill: #ff66c4;
}
body.dark #connect .footer-title {
  fill: #050a30;
}
body.dark #connect .my-links {
  fill: #e5eaf0;
}
body.dark #connect .footer-description {
  fill: #050a30;
}
body.dark .title {
  color: #fdcf1c;
}
body.dark .box {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 2px #000;
}

/*# sourceMappingURL=styles.css.map */
