@import 'colours.scss';

* {
	margin: 0;
	padding: 0;
	max-width: 100%;
	cursor: context-menu;
}

body {
	font-family: 'Roboto', Courier, monospace;
	padding: 0;
	margin: 0;
	transition: all 0.5s;

	*::selection {
		border-radius: 0.3rem;
	}
	#connect,
	#profile,
	#work-and-projects,
	#skill-and-services {
		min-height: 80vh;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
		padding: 3rem;
	}
	header {
		border-bottom: 2px solid;
		padding: 0px;
		width: 100%;
		.brand {
			display: none;
			.logo {
				width: 3rem;
				border-radius: 50%;
			}
		}
		nav {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			.brand {
				flex: 1;
			}
			ul {
				flex: 1;
				list-style-type: none;
				display: flex;
				justify-content: space-around;
				li {
					a {
						padding: 0.3rem;
						border-radius: 0.2rem;
						font-weight: 600;
						font-size: 1.2rem;
						font-family: 'Playfair Display';
						text-decoration: none;
					}
				}
			}
		}
	}

	#profile {
		font-family: 'Playfair Display', Courier, monospace;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
		padding: 5rem;
		.description {
			flex: 2;
			font-size: 2rem;
			padding: 3rem;
		}

		.image-box {
			flex: 1;
			.pic {
				width: 80%;
				// width: 50vh;
				// height: 50vh;
				border-radius: 50%;
			}
		}

		.shake {
			display: inline-block;
			animation: shake 1s linear 0s infinite alternate-reverse;
			transform-origin: bottom;
		}
	}
	#skill-and-services {
		ul.services {
			list-style-type: none;
			display: flex;
			flex-direction: column;
			padding: 0rem 4rem;
			li.service {
				min-width: 45%;
				max-width: 500px;
				margin: 1rem 0rem;
				p.service-title {
					font-family: 'Roboto', Courier, monospace;
					text-transform: uppercase;
					letter-spacing: 1.15px;
					font-size: 1.5rem;
					font-weight: 900;
				}
			}
			li.service:nth-child(2n + 1) {
				align-self: flex-end;
			}
			ul.skills {
				list-style: none;
				justify-content: space-around;
				// align-items: center;
				display: flex;
			}
			ul.description {
				padding: 1rem;
			}
		}
		ul.skills {
			grid-template-columns: auto auto auto auto auto auto;
		}
	}
	#work-and-projects {
		// background-image: url('../../assets/svgs/color-changing-gradient-background.svg');
		.projects {
			display: flex;
		}
		.project {
			flex: 1;
			display: flex;
			flex-direction: column;
			line-height: 1.8rem;
			font-family: 'Roboto', Courier, monospace;
			letter-spacing: 1px;
			font-weight: 100;
			.web-link {
				text-decoration: none;
			}

			.subtitle {
				text-transform: uppercase;
				letter-spacing: 1.15px;
				font-size: 1.7rem;
				font-weight: 900;
			}
			.description {
				font-weight: 800;
			}
		}
	}
	#connect {
		flex-direction: row;
		#footer-left-block {
			padding: 0rem 3rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		#footer-right-block {
			justify-content: center;
			flex-wrap: wrap;
			display: flex;
			flex-direction: column;
			flex: 1;
		}

		.links {
			#social-media {
				list-style-type: none;
				li {
					display: inline;
				}
				// display: flex;
			}
		}
		.phone {
			font-size: 2px;
			transform: rotate(-20deg) translate(14px, 10px);
			transform-origin: center;
		}

		.phone-base {
			stroke-width: 3;
		}
		.star-holder:nth-child(3n + 2) .star {
			animation: blinking 2s ease-in 1.5s infinite alternate-reverse;
		}
		.star-holder:nth-child(3n + 1) .star {
			animation: blinking 2s ease-in 1s infinite alternate-reverse;
		}
		.star-holder:nth-child(3n) .star {
			animation: blinking 2s ease-in 0s infinite alternate-reverse;
		}

		.left-mid {
			transform: translate(-15px, 20px);
		}
		.right-top {
			transform: translateX(40px);
		}
		.right-bottom {
			transform: translateX(40px) translateY(50px);
		}

		.messgae-text {
			font-size: 5px;
		}

		.footer-title {
			font-family: 'Kanit', Courier, monospace;
			font-size: 3.5rem;
			font-weight: 1000;
		}
		.my-links {
			font-family: 'Kanit', Courier, monospace;
			text-decoration: none;
		}
		.footer-description {
			font-family: 'Kanit', Courier, monospace;
			font-size: 2rem;
			font-weight: 200;
		}
	}
	.title-box {
		margin-left: 10%;
	}
	.title {
		font-size: 3.5rem;
		text-decoration: underline;
		// font-family: 'Kanit', Courier, monospace;
		font-weight: 100;
		text-decoration-color: $purple;
	}
	.box {
		padding: 2rem 3rem;
		margin: 3rem;
		border-radius: 1.5rem;
		box-shadow: 0px 0px 2px;
	}

	@keyframes shake {
		50% {
			transform: rotate(30deg);
		}
	}

	@keyframes blinking {
		50% {
			transform: scale(0.5);
			opacity: 0;
		}
	}

	@media screen and (max-width: 600px) {
		.project,
		.box {
			padding: 20px !important;
			margin: 20px !important;
			align-self: center !important;
			border-radius: 20px !important;
		}
		.projects,
		.services,
		#connect,
		#profile,
		#work-and-projects,
		#skill-and-services {
			padding: 30px 0px !important;
			flex-direction: column !important;
			min-height: max-content !important;
		}
		header {
			nav {
				ul {
					display: none;
				}
				.brand {
					display: block;
				}
			}
		}
		header.hidden {
			nav {
				ul {
					display: none;
				}
			}
		}
		header.visible {
			nav {
				ul.visible {
					display: block;
				}
			}
		}
		#profile {
			.description {
				text-align: center;
				font-size: 1rem;
				padding: 10px;
			}
			.image-box {
				display: contents;
				img {
					align-self: center;
					max-width: 50%;
				}
			}
		}
	}
}
body.light {
	background-color: $white;
	color: $darkBlue;

	*::selection {
		color: $darkBlue;
		background-color: $yellow;
	}
	header {
		background-color: $whiteBlue;
		border-bottom-color: $tortoise;
	}
	nav {
		ul {
			li {
				a {
					color: $purple;
				}
				a:hover {
					color: $yellow;
				}
			}
		}
	}

	#skill-and-services {
		ul.services {
			background-color: blackOpaque;

			li.service {
				p.service-title {
					color: $tortoise;
				}
			}
			ul.skills {
				color: $darkBlue;
			}
			ul.description {
				li:nth-child(2n + 1) {
					color: $purple;
				}
				li:nth-child(2n) {
					color: $pink;
				}
			}
		}
	}
	#work-and-projects {
		.project {
			color: $tortoise;
			.subtitle {
				color: $purple;
			}
			.description {
				color: $pink;
			}
		}
	}
	#connect {
		background-color: $tortoise;
		color: $darkBlue;
		.phone-base {
			fill: $whiteBlue;
			stroke: $darkBlue;
			stroke-width: 3;
		}
		.phone-notch {
			fill: $darkBlue;
		}
		.phone-button {
			fill: $darkBlue;
		}
		.star {
			fill: $yellow;
		}
		.message-base {
			fill: $pink;
		}

		.footer-title {
			color: $darkBlue;
		}
		.my-links {
			color: $whiteBlue;
		}
		.footer-description {
			font-weight: 100;
			color: $darkBlue;
		}
	}
	.title {
		color: $yellow;
	}
	.box {
		background-color: $whiteBlue;
		box-shadow: 0px 0px 2px $black;
	}
}
body.dark {
	background-color: $darkBlue;
	color: $white;

	*::selection {
		color: $darkBlue;
		background-color: $yellow;
	}
	header {
		background-color: $darkBlue;
		border-bottom-color: $tortoise;
	}
	nav {
		ul {
			li {
				a {
					color: $purple;
				}
				a:hover {
					color: $yellow;
				}
			}
		}
	}

	#skill-and-services {
		ul.services {
			li.service {
				background-color: blackOpaque;
				p.service-title {
					color: $tortoise;
				}
			}
			ul.skills {
				color: $whiteBlue;
			}
			ul.description {
				li:nth-child(2n + 1) {
					color: $purple;
				}
				li:nth-child(2n) {
					color: $pink;
				}
			}
		}
	}
	#work-and-projects {
		// background-image: url('../../assets/svgs/color-changing-gradient-background.svg');
		.project {
			color: $tortoise;
			.subtitle {
				color: $purple;
			}
			.description {
				color: $pink;
			}
		}
	}
	#connect {
		background-color: $tortoise;
		color: $darkBlue;
		.phone-base {
			fill: $tortoise;
			stroke: $darkBlue;
			stroke-width: 3;
		}
		.phone-notch {
			fill: $darkBlue;
		}
		.phone-button {
			fill: $darkBlue;
		}
		.star {
			fill: $yellow;
		}
		.message-base {
			fill: $pink;
		}

		.footer-title {
			fill: $darkBlue;
		}
		.my-links {
			fill: $whiteBlue;
		}
		.footer-description {
			fill: $darkBlue;
		}
	}
	.title {
		color: $yellow;
	}
	.box {
		background-color: $blackOpaque;
		box-shadow: 0px 0px 2px $black;
	}
}
